### macOS ###
# General
 .DS_Store
 .AppleDouble
 .LSOverride

 .ipynb_checkpoints
 **/.ipynb_checkpoints/**

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/**
*.py[cod]
*$py.class
